*
{  /* Estilo universal */
    margin: 0; /*Margenes en 0, valor por defecto */
    padding: 0; /*Evita  asignacion de ids por cada lado*/
    /*La propiedad CSS text-decoration se usa para establecer el formato de texto a subrayado*/
    text-decoration: none;
    list-style: none;
    /*La propiedad font-family define una lista de fuentes o familias de fuentes, con un orden de prioridad*/
    font-family: sans-serif;
}


center
{
    position: relative; /**/
    margin: 20px auto;
    width: 600px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: blue;
    color: antiquewhite;
    /* La propiedad font-weight de CSS especifica el peso o grueso de la letra.
    https://developer.mozilla.org/es/docs/Web/CSS/font-weight*/
    font-weight: bold;
    border: 5px solid #ccc;
    border-radius: 20px;
}

#calculadora
{
    position: relative;
    margin: 20px auto;
    width: 400px;
    height: 600px;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #ddd;
}

#operaciones
{
    /*La posición relative no afecta el desplazamiento del objeto
    https://developer.mozilla.org/es/docs/Web/CSS/position
     */
    position: relative;
    /*Margen*/
    margin: 20px auto;
    /*width es la anchura*/
    width: 70%;
    /*Fondo*/
    background: white;
    border: 1px solid #ccc;
    /*border-radius redondea las esquinas*/
    border-radius: 10px;
    /* La propiedad CSS box-shadow añade efectos de sombra alrededor del marco de un elemento.*/
    box-shadow: 5px 5px 10px #999;
    /*La propiedad padding es un atajo para evitar la asignación de cada lado por separado*/
    padding: 10%;
    /*The text-align property specifies the horizontal alignment of text in an element.*/
    text-align: right;
    /*tamaño de la fuente*/
    font-size: 25px;
    /*https://developer.mozilla.org/es/docs/Web/CSS/overflow
    recorta a medida de la caja si es hidden*/
    overflow: hidden;
}
#calculadora ul
{
    margin-left: 5px;
}


#calculadora ul li
{
    /*La propiedad CSS float ubica un elemento al lado izquierdo o derecho de su contenedor*/
    float: left;
    padding: 32px;
    width: 15px;
    text-align: center;
    margin: 8px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #999;
    font-weight: bold;
    /*The cursor is a pointer and indicates a link*/
    cursor: pointer;
}

#calculadora ul li:hover /*Pasa el mouse cambia de color*/
{
    background-color: cadetblue;
    color: azure;
}

#calculadora ul li:active /*Cuando se le da click*/
{
    background: cornflowerblue;
    color: azure;
}

#borrar
{
    position: absolute;
    bottom: 10px;
    padding: 5px 15px;
    width: 60px;
    background: cadetblue;
    border-radius: 10px;
    left: 150px;
    border: 5px solid #bbb;
    color: white;
    /*The cursor is a pointer and indicates a link*/
    cursor: pointer;
}

#borrar:hover
{
    background-color: rgb(37, 73, 75);
}

#borrar:active
{
    background: cornflowerblue;
}

